<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ABOUT US</title>
	<link rel="stylesheet" href="../static/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" href="../static/css/style.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body><div id="aboutbg"></div>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">cd
	  <h1><a style="color:#de9145;">ABOUT US</a></h1>
  </div>
</header>


<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories" >
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics" style="color:#107191">What is shiash CONTAINERS all about?</a></li>
		<li><a class="cd-faq__category truncate" href="#story" style="color:#107191">The story about our company</a></li>
		<li><a class="cd-faq__category truncate" href="#company" style="color:#107191">Company is founded</a></li>
		<li><a class="cd-faq__category truncate" href="#home" style="color:#107191">Home at the harbor</a></li>
		<li><a class="cd-faq__category truncate" href="#global" style="color:#107191">Building a global community</a></li>
	</ul>

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>What is shiash CONTAINERS all about?</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>In the 1950’s, global trade changed for good. The invention of the standardized container suddenly meant that transporting goods across the world became affordable. And with that, pathed the way for globalization and global wealth. But contrary to the container, most surrounding processes have not been standardized nor innovated—and are still frustratingly complex, manual and error-prone.
That’s why our ambition is to use technology to simplify the logistics of global trade, making the processes around the container as simple as the container itself.
We do that by providing a neutral infrastructure that connects all logistics companies to remove friction and create economic opportunity.</p>
          </div>
				</div>
			</li>
</ul>
		<div class="cd-faq__items">
		<ul id="story" class="cd-faq__group">
			<li class="cd-faq__title"><h2>The story about our company</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
			<div class="text-component">
				<p>
					From an excel-based solution for empty container repositioning to working with 1500+ shipping companies.
				</p>
			</div>
		</div>
			</ul>

		<ul id="company" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Company is founded</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Gokul, Ajmeer and Kabinesan have identified the problem of empty container repositioning as consultants at the Boston Consulting Group and came up with a very first, excel-based solution to connect supply and demand in container logistics</p>
          </div>
				</div>
			</li>
			</ul>

		<ul id="home" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Home at the harbor</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>The first leading shipping lines and forwarders use us to manage their container inventories. New office in the heart of Hamburg and with introduction of the wallet, we becomes the payment layer in the industry</p>
          </div>
				</div>
			</li>
		</ul>

		<ul id="global" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Building a global community</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span></span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We growing to 150 customers, we’re building an industry-spanning community. First global Digital Container Summit held with 100 customers from around the world.</p>
		  </div>
				</div>
			</li>
		</ul>
	</div>

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>

  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section>

</body>
</html>
